  html,
  body {
      margin: 0;
      height: 100%;
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-size: cover;
  }

.barn {
    position: relative;
    width: 100%;
    height: calc(100% - 10px);
    overflow: hidden;
}
.food {
  position: absolute;
  width: 20px;
  height: 20px; 
  background-color: black; 
  border-radius: 50%; 
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('path/to/your/pixel-barn.png'); Use your pixel barn image here */
    background-size: cover;
}

#animals {
    position: absolute;
    width: 100%;
    height: 100%;
}

.animal {
  width: 50px; 
  height: 50px; 
}
.restricted-area {
  border: 2px solid red; 
}
