@font-face {
  font-family: "VUper";
  src: url("../assets/LapsusPro-Bold.otf") format("opentype");
}
* {
  font-family: "VUper", sans-serif;
}
#drawText {
  font-family: "VUper", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  overflow: hidden;
  height: 100vh;
  background-image: url("../assets/maps/Field.webp");
  background-size: contain;
  background-position: center;
}
#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#coins {
  font-size: 2rem;
  color: black;
}
.animal {
  width: 6.25rem;
  height: 6.25rem;
  position: relative;
  background-image: url(../assets/game-asset/stone.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  aspect-ratio: 1 / 1;
}
.animal {
  pointer-events: none;
}
.animal img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  pointer-events: all;
  cursor: grab;
}
.battle-slots {
  user-select: none;
  display: flex;
  margin-top: 14rem;
  justify-content: center;
  margin-bottom: 2vh;
}
.battle-slot {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 0.625rem;
  background-image: url(../assets/game-asset/stone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
.selection-area {
  margin-top: 10vh;
  display: flex;
  height: 8.75rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.random-animals {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
  left: 4rem;
}
button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  margin: 0 0.625rem;
}
canvas {
  user-select: none;
  margin-top: -5vh;
}
img {
  width: 100%;
  height: 100%;
}
.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  padding: 0.625rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: -10px;
  position: relative;
}

.stat-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-icon img {
  width: 2rem;
  user-select: none;
  height: 2rem;
  pointer-events: none;
}

.stat-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.back-arrow:hover {
  background-color: #d0d0d0;
  color: #333;
  cursor: pointer;
}
.hidden {
  display: none;
}
.hearts-container {
  position: absolute;
  top: 10px;
  right: 20px;
}
.coins-container {
  position: absolute;
  top: 50px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
}
.coins-container span {
  font-family: "VUper", sans-serif;
}
.hearts-container img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.625rem;
}
.coins-container img {
  width: 2.5rem;
  height: 2.5rem;
}
#middleHeart {
  position: absolute;
  z-index: 12367;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.25rem;
  height: 6.25rem;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
#dimmerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
#defeatScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.25rem;
  border-radius: 10px;
  z-index: 10;
}
.curtain {
  position: absolute;
  width: 120%;
  left: -100px;
  background-color: black;
  z-index: 1000;
  transition: height 0.5s ease;
  overflow: hidden;
}
#curtainTop,
#curtainBottom {
  position: absolute;
  z-index: 99991919919191;
  width: 120%;
  left: -100px;
  background-color: black;
  transition: height 1s ease-in-out;
}
#curtainTop {
  top: 0;
  height: 0;
}
#curtainBottom {
  bottom: 0;
  height: 0;
}
@keyframes bounceIn {
  0% {
    transform: translateX(-100%) translateY(0);
  }
  25% {
    transform: translateX(-50%) translateY(-10px);
  }
  50% {
    transform: translateX(0) translateY(5px);
  }
  75% {
    transform: translateX(0) translateY(-5px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.animal-bounce-in {
  animation: bounceIn 0.8s ease-out;
}
.trash-bin {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.trash-bin.hidden {
  opacity: 0;
  pointer-events: none;
}
.bottom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem 0;
}
.trash-bin {
  position: absolute;
  right: 60%;
  width: 6.875rem;
  height: 6.25rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.trash-bin.hidden {
  opacity: 0;
  pointer-events: none;
}
#refreshButton {
  position: absolute;
  background-image: url(../assets/game-asset/dice.svg);
  width: 6.875rem;
  height: 6.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 20%;
  border: none;
  transition: background-color 0.3s ease;
}
#startBattleButton {
  position: absolute;
  background-image: url(../assets/game-asset/sword.svg);
  width: 6.875rem;
  height: 6.25rem;
  margin-right: 3.125rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#freezeButton {
  position: absolute;
  right: 40%;
  width: 6.875rem;
  height: 6.25rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.freeze-bin.hidden {
  opacity: 0;
  pointer-events: none;
}
.ice-overlay {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-image: url("../assets/game-asset/Icecube.png");
  background-size: cover;
  z-index: 9999;
  background-repeat: no-repeat;
  top: -10px;
  left: 0;
  opacity: 0.7;
  pointer-events: none;
}
.animal-popup {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.875rem;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.animal:hover .animal-popup {
  opacity: 1;
}
.battle-slot:hover .animal-popup {
  opacity: 1;
}

.item-container {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 35vh;
}
.item-slot {
  margin-right: 2rem;
  width: 6.25rem;
  height: 6.25rem;
  background-image: url(../assets/game-asset/stone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  cursor: pointer;
  top: 20px;
}

.item-slot img {
  width: 100%;
  height: 100%;
  pointer-events: all;
  cursor: grab;
  position: relative;
  transform: translateY(-20px);
}

.animal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -1rem;
}

.hover-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.875rem;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  z-index: 91919191919;
  transition: opacity 0.3s ease;
}
@keyframes rotateAndDrop {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(30deg);
    opacity: 0;
  }
}

.drop {
  animation: rotateAndDrop 1s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.2;
  }
}
@keyframes riseAndDisappear {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
}

.floating-bus {
  animation: riseAndDisappear 1s ease-out forwards;
}
.battlesign {
  width: 8rem;
  height: 7rem;
  position: relative;
  left: 0.2rem;
  top: -2rem;
  user-select: none;
}
.shopsign {
  width: 8rem;
  height: 7rem;
  position: relative;
  user-select: none;
  left: 2rem;
  top: -2rem;
}
.randomleft {
  display: flex;
  align-items: center;
}

.teamNameSelectionScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 80%; 
  width: 50%; 
  z-index: 10000;
}
#teamNameSelectionScreen > * {
  opacity: 0;
}
.teamNameSelectionScreen h1 {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  margin: 0;
}
.team-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
.team-row button {
  color: white;
  border: 3px solid transparent;
  padding: 1.5rem 4rem;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.4);
  width: 14rem; 
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease, box-shadow 0.1s ease, border-color 0.2s ease;
  border-width: 4;
  border-color: white;
}
.adjective-button,
.noun-button {
  background-color: #2978b5; 
  box-shadow: 0px 6px 0px #1e5b87;
}
.adjective-button:hover,
.noun-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 0px #1e5b87;
}
.noun-button {
  background-color: #4caf50; 
  box-shadow: 0px 4px 0px #388e3c; 
}
.noun-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #388e3c;
}
.selected-button {
  position: relative; 
  transform: translateY(-3px); 
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.5); 
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.selected-button::after {
  content: "";
  position: absolute;
  top: -5%;
  left: -2.7%;
  width: 105.5%;
  height: 105%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); 
  border-radius: 20px; 
  pointer-events: none; 
}
#adjectiveRow {
  position: absolute;
  top: 46%; 
  left: 50%;
  transform: translate(-50%, -20%); 
  display: flex;
  gap: 1rem;
}
#nounRow {
  position: absolute;
  top: 80%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  gap: 1rem;
}
#confirmTeamNameButton {
  width: 200px;
  height: 80px;
  position: absolute;
  bottom: -30px;
  right: -350px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #fe6a00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease, transform 0.1s ease;
  border-width: 4;
  border-color: white;
  border-radius: 15px;
}
#confirmTeamNameButton:disabled {
  background-color: #555;
  cursor: not-allowed;
}
#confirmTeamNameButton:hover:not(:disabled) {
  transform: translateY(-3px);
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.3);
}
.teamNameContainer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
.teamName {
  font-size: 2rem;
  font-weight: bold;
}
.team-name {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 10;
}

#teamNameYour {
  top: 10%;
  left: 25%;
  transform: translateX(-50%);
}

#teamNameEnemy {
  top: 10%;
  right: 25%;
  transform: translateX(50%);
}

.vs-label {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  z-index: 10;
}
#teamNameYour, #teamNameEnemy, #vsLabel {
  transition: opacity 0.5s, transform 0.5s;
}