@font-face {
    font-family: "VUper";
    src: url("../assets/font/LapsusPro-Bold.otf") format("opentype");
}

* {
    font-family: "VUper", serif;
    padding: 0;
    margin: 0;
    letter-spacing: 0.1rem;
}

body::-webkit-scrollbar {
    display: none;
}

.back-arrow {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 2421241241241;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.back-arrow img {
    width: 8rem;
    height: auto;
}

.back-arrow:hover {
    transform: scale(1.1);
}

html,
body {
    margin: 0;
    padding: 0;

    background: url("../assets/maps/Field.webp");
    background-size: contain;
}

.shop-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    z-index: -10;

    backdrop-filter: blur(10px);
}

.shop-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 24rem);
    grid-template-rows: repeat(2, 22rem);
    column-gap: 2rem;
    overflow-x: auto;
    padding-inline: 2rem;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;''
    -ms-overflow-style: none;

}

.shop-container::-webkit-scrollbar {
    display: none;
}

.card {
    margin-top: 1rem;
    position: relative;
    user-select: none;
    width: 24rem;
    height: 18rem;
    background-image: url("../assets/shop/sign.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.card:hover {
    transform: translateY(-1rem) scale(1.05);
}

@keyframes rainbow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.sold-out {
    pointer-events: none;
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: -1rem;
    left: 0;
    background-image: url("../assets/shop/check.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card img {
    pointer-events: none;

    height: 8rem;
    width: auto;
    margin-top: 1rem
}

.card h3,
.card p {
    margin: 0;
    padding: 0.5rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}

.card h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-block: 1rem 0.5rem;
    background: linear-gradient(135deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #8b00ff, #ff007f);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 3s ease infinite;
    text-align: center;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background: linear-gradient(
            135deg,
            var(--animal-color, #ffffff) 0%,
            rgba(0, 0, 0, 0.7) 100%
    );
    border-radius: 1.5rem;
    width: 60%;
    max-width: 40rem;
    padding: 2rem;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
}

.modal.show .modal-content {
    animation: fadeIn 0.5s ease-out forwards;
}

.hidden {
    display: none;
}

.modal.hide .modal-content {
    animation: fadeOut 0.5s ease-out forwards;
}

.modal-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 8px solid var(--animal-border-color, #28a745);
    background-color: white;
    padding: 0.5rem;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

.modal-content img {
    width: 6rem;
    height: 6rem;
    display: block;
    margin: auto;
}

.image-container:hover {
    transform: scale(1.1);
}

.modal-text h2 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 1rem;
}

.modal-text p {
    font-size: 1.3rem;
}

.modal-text button {
    margin: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#confirm-buy {
    background-color: #28a745;
    color: #fff;
}

#cancel-buy {
    background-color: #dc3545;
    color: #fff;
}

#cancel-buy:hover {
    background-color: #c82333;
}

#confirm-buy:hover {
    background-color: #218838;
}

#confirm-buy,
#cancel-buy {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#confirm-buy:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#cancel-buy:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container button {
    background: none;
    border: none;
}

.footer-container button img {
    width: auto;
    height: 6rem;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 1rem;

    display: flex;
    justify-content: space-between;
    margin-inline: 8rem 1rem;
    gap: 2rem;

    z-index: 10;

    height: 3.75rem;
}

.search-container {
    flex: 0.3;
}

.input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

#search-input {
    width: 100%;
    height: calc(3.75rem - 10px);
    padding-inline: 3.5rem 1rem;
    font-size: 1.75rem;
    border: 5px solid black;
    border-radius: 0.5rem;
    font-style: italic;
}

.input-icon {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    pointer-events: none;

}

.input-icon img {
    width: 2rem;
    height: 2rem;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: black;
    font-style: italic;
}

.scroll-bar-container {
    flex: 0.7;
    display: flex;
}

#scroll-bar {
    width: 100%;
    height: calc(3.75rem - 10px);

    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    border: 5px solid black;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
}

#scroll-bar:hover {
    opacity: 1;
}

#scroll-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3.125rem;
    height: 3.75rem;
    background: #FF6900;
    border: 5px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

#scroll-bar::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background: #FF6900;
    border-radius: 50%;
    cursor: pointer;
}

.coins-container {
    position: relative;

    width: fit-content;

    display: flex;
    justify-content: end;
    align-items: center;

    padding: 1rem;
    margin-left: 1.5rem;

    background: white;
    border: 5px solid black;
    border-radius: 0.5rem;
}

#coinsDisplay {
    font-family: "VUper", serif;
    color: black;
    font-size: 2rem;
    padding-left: 2rem;
}

#coinImg {
    position: absolute;
    left: -2rem;
    width: 4rem;
    height: 4rem;
}

@media screen and (max-height: 900px) {
    .shop-container {
        grid-template-rows: repeat(1, 22rem);
    }
}