 html,
 body {
     margin: 0;
     height: 100%;
     scroll-snap-type: y mandatory;
     overflow-y: scroll;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-size: cover;
 }

 section {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     scroll-snap-align: start;
     padding: 20px;
     box-sizing: border-box;
 }

 .jumbotron {
     background-color: rgba(255, 255, 255, 0.8);
     text-align: center;
     background-image: url('../assets/Field.webp');
     background-repeat: no-repeat;
     background-size: cover;
 }

 .jumbotron h1 {
     font-size: 3em;
     color:#FEBD01;
     font-weight: bold;
     
 }

 .jumbotron p {
    font-weight: bold;
     font-size: 1.5em;
     color:#FEBD01
 }

 .game-desc {
     color: black;
     text-align: left;
     background-image: url(../assets/Autumn_Forest.webp);
     background-repeat: no-repeat;
     background-size:cover;
     opacity: 0;
     transform: translateY(100px);
     transition: opacity 1s ease, transform 1s ease;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .game-desc img {
     width: 40%;
     margin-right: 20px;
 }

 .game-desc p {
     color: white;
     font-size: 1.2em;
     width: 50%;
     font-weight: bold;
 }

 .game-maker {
     background-color: rgba(255, 255, 255, 0.9);
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(../assets/Scary_Forest.webp);
     padding: 20px;
 }

 .game-maker .text {
     width: 50%;
     font-size: 1.5em;
     padding: 20px;
 }

 .carousel {
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .carousel img {
     width: 100%;
     border-radius: 10px;
     max-width: 300px;
 }

 .carousel-controls {
     display: flex;
     justify-content: space-between;
     width: 100%;
     margin-top: 10px;
 }

 .carousel-controls button {
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
 }

 #logoutButton {
     padding: 10px 20px;
     font-size: 16px;
     background-color: red;
     color: white;
     border: none;
     cursor: pointer;
 }

 .visible {
     opacity: 1 !important;
     transform: translateY(0) !important;
 }

 .social-media {
     background-color: rgba(255, 255, 255, 0.9);
     display: flex;
     justify-content: center;
     align-items: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(../assets/Cyber_Space\ \(2\).webp);
     position: relative;
     overflow: hidden;
 }

 .social-media img {
     width: 100px;
     height: 100px;
     opacity: 0;
     position: absolute;
     transition: opacity 1s, transform 1s;
 }

 .instagram {
     left: 25%;
     transform: translateX(-200%);
 }

 .twitter {
     right: 25%;
     transform: translateX(200%);
 }

 .steam {
     transform: translateY(-200%);
 }
 @keyframes walkInstagram {
     0% {
         transform: translateX(-200%);
         opacity: 0;
     }

     50% {
         opacity: 1;
     }

     100% {
         transform: translateX(0%);
         opacity: 1;
     }
 }

 @keyframes walkTwitter {
     0% {
         transform: translateX(200%);
         opacity: 0;
     }

     50% {
         opacity: 1;
     }

     100% {
         transform: translateX(0%);
         opacity: 1;
     }
 }

 @keyframes walkSteam {
     0% {
         transform: translateY(-200%);
         opacity: 0;
     }

     50% {
         opacity: 1;
     }

     100% {
         transform: translateY(0%);
         opacity: 1;
     }
 }

 .instagram.walk {
     animation: walkInstagram 2s ease forwards;
 }

 .twitter.walk {
     animation: walkTwitter 2s ease forwards;
 }

 .steam.walk {
     animation: walkSteam 2s ease forwards;
 }