*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lapsus Pro', sans-serif;
    background: url("../assets/background/menu-bg.png") no-repeat center center fixed;
    height: 100vh;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

button img {
    width: 100%;
    height: auto;
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    transform: translateY(3%);
}

#logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 16rem;
    height: auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.sub-btn {
    width: 4rem;
    height: 4rem;
    z-index: 10;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-btn {
    width: 40%;
    height: auto;
}

.menu-btn {
    width: 40%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0.75rem;
    right: 0.5rem;
    background: white;
    border: 0.5rem solid black;
    border-radius: 1rem;
    width: 20rem;
    height: 10.5rem;
    z-index: 0;
}

.logout-button {
    width: 100%;
}

.hidden {
    display: none;
}