@font-face {
    font-family: 'Lapsus Pro';
    src: url('../assets/font/LapsusPro-Bold.otf') format('opentype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
    font-family: 'Lapsus Pro', serif;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}


body {
    background: url("../assets/background/menu-bg.png") no-repeat center center fixed;
    height: 100vh;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

button img {
    width: 100%;
    height: 100%;
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    transform: translateY(3%);
}

#logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 16rem;
    height: auto;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-btn {
    width: 40%;
    height: auto;
}

.menu-btn {
    width: 40%;
    height: auto;
}
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.sub-btn {
    width: 4rem;
    height: 4rem;
    z-index: 10;

}

.menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.25rem;
    background: white;
    border: 0.5rem solid black;
    border-radius: 2rem;
    z-index: 20;
}

.logout-button {
    width: 100%;
}

.hidden {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}